/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */

div.mainDiv h1, ul.header li{
  text-shadow: 1px 1px 4px #000;
}

/* App style */
ul.header{
  padding: 0;
  list-style: none;
  margin-bottom: 0;
  /* background-color: #cc0000; */
}

ul.header li{
  display: inline;
  margin: 0;
}

ul.header li a{
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 20px;

  font-weight: bold;
  text-decoration: none;
}


div.content{
  height: 550px;
  overflow: scroll;
  padding: 20px;
  color: #000;
  border: 1px solid #dcdcdc;
  background-color: #fff;
}

/* Todolist style */
div.todolistStyle{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

input, div.todolistStyle button, div.todolistStyle textarea, div.signupStyle button, div.loginStyle button, h2 + button{
  padding: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius:5px;
}

div.todolistStyle input{
  width: 220px;
}

ul.list{
  list-style: none;
}

/* Tasks style */
div.tasksStyle li{
  color: #fff;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 300px;

  /* background-color: rgba(214, 219, 224, .5); */
  background-color: rgba(177, 217, 244, .9);
  padding: 15px;
  margin-bottom: 20px;

  -webkit-filter: drop-shadow(0px 0px 5px #666);
  -moz-filter: drop-shadow(0px 0px 5px #666);
  filter: drop-shadow(0px 0px 5px #666);
}

div.taskStyle li, div.editBtns button, div.signupStyle button, div.todolistStyle button, div.loginStyle button{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-filter: drop-shadow(0px 0px 2px #666);
  -moz-filter: drop-shadow(0px 0px 2px #666);
  filter: drop-shadow(0px 0px 2px #666);
}

div.editBtns button{
  padding: 2px 15px;
}

div.tasksStyle li div:nth-child(1){
  display: flex;
  justify-content: space-between;
  /* justify-content: flex-end; */
  margin-bottom: 5px;
}

div.firstInner{
  display: flex;
  justify-content: space-between;
}

div.editBtns{
  display: flex;
  justify-content: flex-start;
}

input{
  border-top: 0;
  border-left: 0;
  border-right: 0;
}


/* Home Style */
div.signupStyle div, div.loginStyle div{
  display: flex;
  justify-content: center;
}